<div style="text-align:center; color:white; font-family:Heavyweight, Arial; font-size:20">
  <h3>Welcome to Rock, Paper, Scissors!</h3>
  <body background="http://i.imgur.com/mtW4Th6.jpg" height="1080px" width="1920px">

    <form action="/gamepage">
      Please enter your name!
      <input type="text" name="name">
      <input type="submit" value="Submit">
    </form>


    <div>
      <img src="http://i.imgur.com/arYn039.png" alt="hands" style="padding: 50px">
    </div>
  </body>
</div>
